@import url("https://fonts.googleapis.com/css2?family=Oxanium:wght@200..800&display=swap");
@import "tailwindcss";

@tailwind base;
@tailwind components;
@tailwind utilities;

@theme {
    --font-ox: "Oxanium", monospace; 
}

@layer base {
    body {
        @apply bg-gradient-to-b from-[#1e1e3f] to-black /* Base background color */
               font-ox /* Base font (JetbrainMono) */
               py-10 px-10 /* Padding y */
               flex flex-col /* Allows to stack elem */; 
    }
}

@layer components { 
    /* For WebKit browsers (Chrome, Safari, newer Edge) */
    ::-webkit-scrollbar {
        width: 0px; /* For vertical scrollbar */
        height: 0px; /* For horizontal scrollbar */
    }
    
    ::-webkit-scrollbar-thumb {
        background: transparent;
    }
    
    ::-webkit-scrollbar-track {
        background: transparent;
    }
    button {
        @apply cursor-pointer /* Same hover effect as cursor of anchor */
               opacity-30; /* when not hovered it is greyer */
    }
    button:hover {
        @apply opacity-100; /* hover makes it to original state */
    }
    a {
        @apply opacity-30; /* when not hovered it is greyer */
    }
    a:hover {
        @apply opacity-100; /* hover makes it to original state */
    } 
    .tag { /* Tag button style for all tags despite of functionality. */
        @apply text-white /* Text color */ 
               px-5 /* Padding x */
               py-3 /* Padding y */
               grayscale-20 /* Little greyness */
               italic
               border border-none rounded-[1.2em] /* Rounded corners */;
    }

    /* Navigation Menu */
    .nav-menu {
        @apply flex flex-row /* Initilaize flexbox */
               gap-x-5 /* Horizontal gap between items */
               justify-end /* Align items to the right */
               items-center /* Align items to the center (horizontal) */;
    }
    .nav-menu .nav-button {
        @apply text-white /* Text color */
               text-[27px] /* Font size */;
    }

    /* Contacts Footer */
    .footer-contacts {
        @apply flex flex-row /* Initilaize flexbox */
               justify-around /* Even space between items */;
    }
    .footer-contacts img {
        @apply w-[55px] /* Width of the image */
               h-[55px] /* Height of the image */;
    }

    /* Main Content */
    .main-container { 
        @apply min-h-screen /* Minimum height of the screen */
               my-6
               p-4
               border rounded-[2em] border-none;
    }
    .main-container h1 {
        @apply text-[50px] /* Font size */
               text-[#ffffff] /* Text color */
               px-10 /* Padding x */
               my-4 /* Margin */ 
               italic;
    }
    .main-container p {
        @apply text-[30px] /* Font size */
               text-[#999999] /* Text color */
               px-10 /* Padding x */;
    }

    .main-container .header-w-filter {
        @apply flex flex-row
               justify-start /* Space between items */
               items-center /* Align items to the center (horizontal) */;
    }
    .main-container .header-w-filter .dropdown {
        @apply relative /* makes the menu position relative to the button */
               inline-block;
    }
    .main-container .header-w-filter .dropdown .tag-button {
        @apply text-[30px] /* Font size */;
    }
    .main-container .header-w-filter .dropdown .dropdown-tags {
        @apply bg-transparent /* Transparent background */
               absolute /* make the button to stay still when opened */
               min-w-max /* Minimum width of the dropdown */
               left-0 /* Align to the left */;
    }
    .main-container .header-w-filter .dropdown .dropdown-tags .tag-anchor {
        @apply text-[24px] /* Font size */;
    }

    .main-container .project-container-container {
        @apply grid grid-cols-3 /* grid which allows stacking items in certain order */
               gap-7 /* Horizontal gap between items */
               p-5;
    }
    .main-container .project-container-container .project-container {
        @apply border border-none rounded-[2em] /* Rounded corder */
               h-[400px] /* Height */
               bg-gradient-to-b from-[#1f0d4b] to-black
               p-3
               flex justify-center /* Center the content */;
        background: 
            linear-gradient(#5e5ed3, #372065);
    }
    .main-container .project-container-container .project-container 
    .project {
        @apply w-full h-full;
    }
    .main-container .project-container-container .project-container 
    .project .title {
        @apply h-1/6 /* Height */
               flex justify-start gap-2 items-center; /* Align items to the left */
    }
    .main-container .project-container-container .project-container 
    .project .title h2 {
        @apply w-5/6 /* Width */
               text-[25px] /* Font size */
               text-white /* Text color */
               overflow-x-auto /* Allow horizontal scrolling */
               px-2
               h-full;
    }
    .main-container .project-container-container .project-container 
    .project .title a {
        @apply w-1/6
               text-white text-[40px] font-bold
               flex justify-center /* Centers text horizontally & vertically */;
    }
    .main-container .project-container-container .project-container 
    .project p {
        @apply h-2/3 /* Height */
               overflow-y-auto
               break-words /* wrap long words/text */
               text-[#B7B7B7] /* Whiter text */
               p-2 /* Padding x */
               text-[20px];
    }
    .main-container .project-container-container .project-container 
    .project .tags {
        @apply max-h-1/6 /* Height */
               min-w-full
               px-2 /* Padding x */
               overflow-x-auto
               border border-none rounded-[1.2em]
               grid grid-cols-3 gap-2; 
    }
}
